body {
  margin: 0 auto;
}

@-webkit-keyframes animado2 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes animado2 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes animado2 {
  0%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes animado2 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
