// primer esquema de colores
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;

// segundo esquema de colores
$salmon: #ee9480;
$melon: #F4BAAE;
$pink: #FADFDA;

//tercer esquema
$Ball: #2ab7ca;
$middle: #77d1dd;
$lagoon: #b1e4eb;

//cuarto esquema
$onyx: #333745;
$spanish: #8f9199;
$lavander: #c7c8cc;

//Quinto esquema
$raising: #221d23;
$nickel: #726f73;
$Silver: #aeacaf;

// Tipography

//Font Family
$relawey: 'Raleway', sans-serif;
$open-sans:  'Open Sans', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
